Click==7.0
Flask==1.0.2
itsdangerous==1.1.0
MarkupSafe==1.1.0
peewee==3.7.1
Werkzeug==0.14.1
pytest==4.0.1
psycopg2==2.7.6
pycodestyle==2.4.0
python-dotenv==0.10.0
pyhumps==1.2.2
simplejson==3.16.0
flask-cors==3.0.8
